<template>
  <div id="showList">
    <h1>Search For A Show</h1>
    <input v-model="query" type="text" />
    <button @click="getTVShowNames()">Search</button>
    <div :key='item.show.id'
        v-for='item in shows'>
        <showDetail 
        v-if="item.show.image"
        :name="item.show.name"
        :img="item.show.image.medium"> </showDetail>
    </div>
    
  </div>
</template>

<script>
import showDetail from './showDetail.vue'

export default {
  name: "showList",
  components: {
      showDetail
  },
  data() {
    return {
      query: "",
      url: "http://api.tvmaze.com/search/shows?q=",
      shows: "",
      error: ""
    };
  },
  methods: {
    getTVShowNames() {

        /*
        Using data.query and data.url, this function:

        - queries api.tvmaze.com for a list of shows
        - adds shows to data.shows
        - sorts the shows in ascending order
        - logs the sorted list of shows to the console
        */

      //hit api with query
      fetch(this.url + this.query)
        .then((response) => response.json())
        //store data
        .then((data) => (this.shows = data))
        //sort shows in ascending order by name
        .then(() => {
          this.shows.sort((a, b) => a.show.name.localeCompare(b.show.name));

        })
        //log sorted shows to the console
        .then(() => {
            //adding a little 'whitespace' for readability
            console.log('.')
          for (let show of this.shows) {
            console.log(show.show.name);
          }
          //adding a little 'whitespace' for readability
          console.log('.')
        })
    },
  },
};
</script>

<style>
h1 {
    transform: scale(1.2);
    color: #3504bc;
    font-weight: bolder;
}
</style>