<template>
  <div id="showDetail">
      <h3>{{name}}</h3>
      <img :src="img">
  </div>
</template>

<script>
export default {
    name: 'showDetail',
    props: ['name', 'img']
}
</script>

<style>
#showDetail {
    white-space: nowrap;
    display: inline-block;
    padding: 1.5rem;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #1c60fa;
    border-radius: 20px;
}
h3 {
    margin: 0;
    margin-bottom: 1rem;
}
</style>