<template>
  <div id="app">
    <h4>A Vue JS test for:</h4>
    <svg enable-background="new 0 0 404.2 68.1" viewBox="0 0 404.2 68.1" xmlns="http://www.w3.org/2000/svg" aria-labelledby="logoWhite" role="img"><path d="m210.1 44.5c0 3.4 2.7 6.1 6.1 6.1h.9v16h-.6-1.4c-3.5 0-6.9-.8-10-2.5-3-1.6-5.6-3.9-7.6-6.7-2.4-3.6-3.6-8.4-3.6-14.3v-32h15.9l-.1 11.1h7.2v15.8h-7zm-136.3-23.5c12.8 0 23.1 10.4 23.1 23.1s-10.3 23.1-23.1 23.1-23.1-10.3-23.1-23.1 10.4-23.1 23.1-23.1m0 15.3c-4.3 0-7.8 3.5-7.8 7.8s3.5 7.8 7.8 7.8 7.8-3.5 7.8-7.8c0-4.3-3.5-7.8-7.8-7.8zm-72.8 7.7v-43h15.1v21.3c12-4.4 25.3 1.7 29.7 13.7s-1.7 25.3-13.7 29.7-25.3-1.7-29.7-13.7c-.9-2.6-1.4-5.3-1.4-8m23.1-7.8c-4.3 0-7.8 3.5-7.8 7.8s3.5 7.8 7.8 7.8 7.8-3.5 7.8-7.8c0-4.3-3.5-7.8-7.8-7.8zm76.8 10c.3 11.5 9.8 20.7 21.3 20.4 11.2-.2 20.2-9.2 20.4-20.4v-23.3h-15.8v24.3c0 2.8-2.3 5.1-5.1 5.1s-5.1-2.3-5.1-5.1v-24.3h-15.8zm217.1-2.1c0 12.8-10.3 23.1-23.1 23.1s-23.1-10.3-23.1-23.1 10.3-23.1 23.1-23.1h.1c12.7 0 23 10.4 23 23.1zm-15.3 0c0-4.3-3.5-7.8-7.8-7.8s-7.8 3.5-7.8 7.8 3.5 7.8 7.8 7.8c2.1 0 4-.8 5.5-2.3s2.3-3.5 2.3-5.5zm45.8 3.2c.1 2.8-2 5.2-4.8 5.3s-5.2-2-5.3-4.8c0-.1 0-.3 0-.5v-24.2h-15.8v22.9.4c.3 11.5 9.8 20.7 21.3 20.4 11.2-.2 20.2-9.2 20.4-20.4v-23.3h-15.8zm-180.6-25.9c-11.5 0-20.9 9.3-20.9 20.9v23.8h15.8v-24.7c0-2.8 2.3-5.1 5.1-5.1s5.1 2.3 5.1 5.1v24.7h15.8v-23.8c0-11.5-9.4-20.9-20.9-20.9m232 21.4c-2.1-2.2-5.2-3.7-9.3-4.5-1.4-.3-2.6-.6-3.4-.8-.6-.1-1.2-.3-1.8-.6-.4-.2-.5-.4-.5-.5-.1-.3-.1-.5-.1-.8 0-.6.3-1.2.9-1.5.8-.5 1.8-.7 2.8-.7 2.6.1 5.1.7 7.4 2l.7.4 5.6-10.8-.8-.3c-4.3-1.8-8.8-2.7-13.4-2.7-2.6 0-5.2.3-7.8 1-2.2.6-4.2 1.7-6 3.1-1.7 1.3-3 3-3.9 4.9-.9 2-1.4 4.3-1.4 6.5-.2 2.9.9 5.8 2.9 7.9 1.9 1.9 5.1 3.3 9.7 4.2 1.3.3 2.4.5 3.1.7.6.1 1.1.4 1.6.7.2.1.4.3.5.6s.2.7.1 1c0 .7-.4 1.3-.9 1.6-.8.5-1.8.8-2.8.7-3.4 0-7.1-1.3-11-4l-.8-.5-6 11.6.6.4c5 3.1 10.8 4.7 16.7 4.8 2.7 0 5.5-.3 8.1-1.1 2.3-.7 4.5-1.7 6.4-3.2 1.8-1.4 3.2-3.1 4.2-5.1 1-2.1 1.5-4.4 1.5-6.7.3-3-.8-6-2.9-8.3m-132.3 6.6h-28.5c.3 3.4 2.9 5 6 5 2.2.1 4.3-1 5.4-2.9l14.1 5c-6.7 10.5-20.7 13.5-31.2 6.8s-13.5-20.7-6.8-31.2 20.7-13.5 31.2-6.8c8.1 5.1 12 14.8 9.8 24.1zm-16.1-10.1v-.4c-.3-2.9-2.8-4.8-6.3-4.8s-6.1 1.9-6.3 4.8v.4z" fill="#3504bc"></path><title id="logoWhite">Bounteous</title></svg>
    <showList> </showList>
    
  </div>
</template>

<script>
import showList from './components/showList.vue'


export default {
  name: 'App',
  components: {
    showList,
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
svg {
  transform: scale(0.5)
}
h4 {
  margin-bottom: -1rem;
  color: #3504bc;
}
</style>
